<div class="h-screen w-72 bg-black bg-opacity-50 p-2 text-white hidden md:block">
    <svg  viewBox="0 0 276 45" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full">
        <rect y="42" width="274" height="3" fill="#3566AF"/>
        <path d="M246.182 9.65216L246.182 36.8537H255.249V9.65216H246.182Z" fill="white"/>
        <path d="M275.138 9.65216V36.8537H266.071L266.071 27.7865H257.004V18.7194H266.071L266.071 9.65216H275.138Z" fill="white"/>
        <path d="M244.866 31.2964L240.332 37L223.075 36.9986V18.1344H229.217V31.2964H244.866Z" fill="white"/>
        <path d="M223.075 9.65216L240.332 9.65217L244.866 16.3794H223.075V9.65216Z" fill="white"/>
        <path d="M199.383 36.9986V9.65216L216.64 9.65217L221.174 16.3794H205.526V31.2964H221.174L216.64 37L199.383 36.9986Z" fill="white"/>
        <path d="M211.668 26.9091L215.763 20.7668H206.403V26.9091H211.668Z" fill="white"/>
        <path d="M174.531 36.903V9.65078H165.455V0.584991H183.616V36.903H174.531ZM192.063 9.65078H185.411V0.584991H198.15L192.063 9.65078Z" fill="white"/>
        <path d="M148.929 30.7115L144.395 36.415H131.672L127.138 30.7115H140.154L127.138 16.6719H135.913L148.929 30.7115Z" fill="white"/>
        <path d="M131.672 9.0672H144.395L148.929 15.7945H127.138L131.672 9.0672Z" fill="white"/>
        <path d="M107.98 36.903V23.5455L97.3043 9.3597H105.64L111.938 17.8419L118.528 9.35968L126.571 9.3597L115.895 23.5455V36.903H107.98Z" fill="white"/>
        <path d="M74.4901 36.4136V9.0672L91.747 9.06721L96.2806 15.7945H80.6324V30.7115H96.2806L91.747 36.415L74.4901 36.4136Z" fill="white"/>
        <path d="M86.7747 26.3241L90.8696 20.1818H81.5099V26.3241H86.7747Z" fill="white"/>
        <path d="M67.3241 36.7075L58.4703 36.7061V27.6403H73.4103L67.3241 36.7075Z" fill="white"/>
        <path d="M47.581 36.7061V9.35968H52.1282H56.6753V36.7061H47.581Z" fill="white"/>
        <path d="M35.759 9.35968L35.7589 36.611H44.8439L44.844 9.35968H35.759Z" fill="white"/>
        <path d="M23.8604 36.318L16.769 25.396H12.0765V36.318H3V10.8671H12.0765V16.3513H23.0114V9.06579H3V0H27.5814C28.481 0 29.4609 0.527326 30.5126 1.57776C31.5642 2.62819 32.088 3.60269 32.088 4.50547V20.8905C32.0764 21.475 31.9458 22.051 31.7039 22.5834C31.4621 23.1158 31.1142 23.5934 30.6815 23.987C30.2879 24.4202 29.81 24.7686 29.2769 25.0109C28.7439 25.2531 28.1669 25.3842 27.5814 25.396L34.6264 36.318H23.8604Z" fill="white"/>
    </svg>

    <div class="p-2 mt-2 text-lg">
        <a href="/" class="px-8 py-4 hover:underline hover:bg-offGray-300 hover:bg-opacity-75 rounded-2xl flex content-center group text-trueGray-500 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="fill-none group-hover:fill-current">
                <path class="stroke-current stroke-2" stroke-linecap="round" stroke-linejoin="round"
                      d="M4 32l6-6m0 0L32 4l22 22m-44 0V60h44V26m0 0L60 32M26 60V40h12V60"/>
            </svg>
            <div class="ml-4 my-auto tracking-wider">Home</div>
        </a>
        <a href="/projects" class="px-8 py-4 hover:underline hover:bg-offGray-300 hover:bg-opacity-75 rounded-2xl flex content-center group text-trueGray-500 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="fill-none group-hover:fill-current">
                <path class="stroke-current stroke-2" stroke-linecap="round" stroke-linejoin="round"
                      d="M60 4H4L4 18H60V4zM32 32H4V60H32V32zM60 32H46V60H60V32z"/>
            </svg>
            <div class="ml-4 my-auto tracking-wider">Projects</div>
        </a>
        <a href="/about" class="px-8 py-4 hover:underline hover:bg-offGray-300 hover:bg-opacity-75 rounded-2xl flex content-center group text-trueGray-500 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="fill-none group-hover:fill-current">
                <path class="stroke-current stroke-2" stroke-linecap="round" stroke-linejoin="round"
                      d="M4 60C13 55 19 51 32 51S52 55 60 60M4 60H60M44 29A12 12 0 0120 29A12 12 0 0144 29M4 60V4M60 60V4M4 4H60"/>
            </svg>
            <div class="ml-4 my-auto tracking-wider">About Me</div>
        </a>
        <a href="/contact" class="px-8 py-4 hover:underline hover:bg-offGray-300 hover:bg-opacity-75 rounded-2xl flex content-center group text-trueGray-500 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" class="fill-none group-hover:fill-current">
                <path class="stroke-current stroke-2" stroke-linecap="round" stroke-linejoin="round"
                      d="M4 10H60V20L32 38L4 20V10M4 20V54M60 20V54M4 54H60"/>
            </svg>
            <div class="ml-4 my-auto tracking-wider">Contact</div>
        </a>
    </div>
</div>
<div class="bg-black bg-opacity-75 text-white p-2 md:hidden flex justify-evenly">
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 116 125" class="h-full my-auto md:my-3">

        <path d="M46.7608 54.1009H36.5082L46.7752 69.2452H60.8255V89.9711L67.3236 99.5625V65.6394H52.5368L46.7608 54.1009Z" fill="#3566AF"/>
        <path d="M107.034 0.504791V28.8606L112.81 33.1875V89.4375H107.034V36.0721L101.258 31.7452V0.504791H88.6661L95.4819 7.99037V45.4038L102.702 52.6154V98.0481L115.51 98.0769L115.019 32.5529V0.519214L107.034 0.504791Z" fill="#3566AF"/>
        <path d="M59.3814 87.8509V70.6875H47.7571L59.3814 87.8509Z" fill="#3566AF"/>
        <path d="M95.4819 105.245V55.6009L88.2618 48.3894V10.7884L78.9046 0.50478L36.8981 0.490356L48.8546 11.5673L78.1537 13.0384V34.6298H85.3738V49.4711L91.1498 55.2404V112.889L105.547 123.937L115.698 124.053L115.554 105.288L95.4819 105.245Z" fill="#3566AF"/>
        <path d="M10.3427 15.5048L12.7542 19.0529V5.78363H10.3427V15.5048Z" fill="#3566AF"/>
        <path d="M89.7491 113.596V55.9038L83.9731 50.1346V36.0577H76.753V14.4231L48.2481 12.9808L48.0604 12.8077L34.7754 0.475952H0.220093L7.44018 11.2356V2.88461H15.6278V23.3077L21.5771 32.1058L22.0392 12.1586H38.14V28.024H47.1651V14.7981H59.3237V45.4471H44.638V42.5625H56.4357V17.6827H50.0531V30.9086H35.2519V15.0433H24.8695L24.3929 36.2163L32.595 48.3317H50.3419L56.118 59.8702H73.0996V108.087L77.4317 114.476V65.6394H86.0958V68.524H80.3197V118.745L83.6843 123.707L103.15 123.923L89.7491 113.596ZM81.7637 56.25H63.7568V38.9423H74.587V43.2692H68.0889V51.9231H81.807L81.7637 56.25Z" fill="#3566AF"/>

    </svg>
    <div class="flex-1 flex justify-evenly">
        <a href="/" class="hover:underline px-2 md:px-4 py-1 md:py-2 hover:bg-offGray-300 hover:bg-opacity-75 rounded-lg">
            Home
        </a>
        <a href="/projects" class="hover:underline px-2 md:px-4 py-1 md:py-2 hover:bg-offGray-300 hover:bg-opacity-75 rounded-lg">
            Projects
        </a>
        <a href="/about" class="hover:underline px-2 md:px-4 py-1 md:py-2 hover:bg-offGray-300 hover:bg-opacity-75 rounded-lg">
            About
        </a>
        <a href="/contact" class="hover:underline px-2 md:px-4 py-1 md:py-2 hover:bg-offGray-300 hover:bg-opacity-75 rounded-lg">
            Contact
        </a>
    </div>
</div>