<html>
<%- include('sections/head', { title: 'Home' }); -%>
<body class="bg-brand">
<div class="w-full h-screen">
    <img src="assets/image/background-3.jpg" class="object-cover h-screen w-screen absolute top-0 left-0 -z-100">
    <div class="h-full w-full flex-col md:flex-row flex overflow-scroll">
        <%- include('sections/navigation'); -%>
        <div class="flex-1">
            <svg viewBox="0 0 390 198" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-112 p-4 mx-auto mt-12 md:mt-24 lg:absolute lg:top-0 lg:right-0 lg:mt-24 lg:mr-16">
                <path d="M370.376 173.769L387.516 191.827V174.692H390V197.697L372.845 179.74V196.702H370.376V173.769Z" fill="white"/>
                <path d="M366.347 185.712C366.309 188.747 365.075 191.645 362.913 193.777C360.751 195.91 357.834 197.106 354.795 197.106C353.186 197.078 351.599 196.721 350.133 196.056C348.668 195.391 347.355 194.433 346.275 193.24C344.38 191.142 343.349 188.407 343.387 185.582C343.404 182.544 344.629 179.638 346.791 177.503C348.954 175.368 351.877 174.178 354.918 174.195C357.959 174.212 360.868 175.435 363.006 177.595C365.144 179.755 366.335 182.674 366.318 185.712H366.347ZM345.9 185.582C345.867 186.834 346.1 188.078 346.583 189.234C347.065 190.39 347.787 191.431 348.701 192.288C350.21 193.733 352.171 194.614 354.254 194.785C356.337 194.955 358.416 194.403 360.14 193.223C361.864 192.043 363.128 190.305 363.72 188.303C364.313 186.301 364.197 184.156 363.392 182.23C362.587 180.303 361.143 178.712 359.301 177.724C357.46 176.736 355.334 176.411 353.282 176.805C351.229 177.198 349.375 178.285 348.03 179.884C346.686 181.482 345.933 183.494 345.9 185.582Z" fill="white"/>
                <path d="M339.344 196.702H336.86V174.692H339.344V196.702Z" fill="white"/>
                <path d="M328.745 196.702H326.261V176.971H320.947V174.692H334.102V176.971H328.745V196.702Z" fill="white"/>
                <path d="M307.402 190.471L304.76 196.702H302.074L312.182 173.625L322.088 196.702H319.388L316.774 190.471H307.402ZM312.182 179.38L308.428 188.192H315.85L312.182 179.38Z" fill="white"/>
                <path d="M294.738 191.466L300.991 174.692H303.662L294.709 198L285.785 174.692H288.5L294.738 191.466Z" fill="white"/>
                <path d="M285.136 185.712C285.098 188.747 283.864 191.645 281.701 193.777C279.539 195.91 276.622 197.106 273.583 197.106C271.974 197.08 270.387 196.724 268.921 196.059C267.455 195.394 266.142 194.434 265.064 193.24C263.169 191.142 262.137 188.407 262.176 185.582C262.193 182.544 263.417 179.638 265.58 177.503C267.742 175.368 270.665 174.178 273.706 174.195C276.747 174.212 279.656 175.435 281.794 177.595C283.932 179.755 285.124 182.674 285.107 185.712H285.136ZM264.674 185.582C264.653 186.84 264.9 188.088 265.398 189.245C265.895 190.401 266.633 191.438 267.562 192.288C269.086 193.709 271.054 194.562 273.134 194.704C275.213 194.847 277.279 194.271 278.984 193.073C280.689 191.874 281.929 190.127 282.496 188.123C283.064 186.119 282.924 183.982 282.1 182.069C281.277 180.156 279.819 178.585 277.973 177.618C276.126 176.652 274.003 176.349 271.96 176.761C269.916 177.173 268.077 178.274 266.75 179.88C265.423 181.486 264.69 183.5 264.674 185.582Z" fill="white"/>
                <path d="M238.508 173.769L255.591 191.827V174.692H258.075V197.697L240.934 179.74V196.702H238.451L238.508 173.769Z" fill="white"/>
                <path d="M213.599 173.769L230.739 191.827V174.692H233.223V197.697L216.068 179.74V196.702H213.599V173.769Z" fill="white"/>
                <path d="M208.314 196.702H205.83V174.692H208.314V196.702Z" fill="white"/>
                <g filter="url(#filter0_d)">
                    <path d="M193.498 185.654V186.216C193.614 188.142 193.216 190.063 192.343 191.784C191.404 193.411 190.05 194.761 188.419 195.696C186.788 196.631 184.938 197.117 183.058 197.106C181.527 197.145 180.004 196.876 178.58 196.315C177.156 195.753 175.859 194.912 174.767 193.839C173.676 192.767 172.811 191.486 172.226 190.073C171.64 188.66 171.345 187.144 171.359 185.614C171.372 184.085 171.694 182.574 172.305 181.172C172.915 179.769 173.802 178.504 174.913 177.451C176.023 176.398 177.335 175.579 178.769 175.043C180.203 174.508 181.73 174.265 183.26 174.332C185.691 174.317 188.058 175.108 189.989 176.582C190.955 177.305 191.815 178.16 192.545 179.12L190.726 180.764C188.545 177.88 186.293 176.639 183.289 176.639C180.937 176.703 178.702 177.674 177.052 179.349C175.402 181.024 174.465 183.272 174.439 185.622C174.413 187.971 175.299 190.239 176.912 191.95C178.524 193.661 180.737 194.682 183.087 194.798C184.455 194.786 185.798 194.436 186.997 193.779C188.197 193.122 189.215 192.179 189.96 191.034C190.528 190.097 190.836 189.027 190.856 187.933H184.314V185.654H193.498Z" fill="white"/>
                    <path d="M148.113 173.769L165.253 191.827V174.692H167.737V197.697L150.582 179.74V196.702H148.113V173.769Z" fill="white"/>
                    <path d="M142.828 196.702H140.344V174.692H142.828V196.702Z" fill="white"/>
                    <path d="M132.185 196.702H129.702V176.971H124.388V174.692H137.543V176.971H132.185V196.702Z" fill="white"/>
                    <path d="M110.843 190.471L108.2 196.702H105.529L115.637 173.625L125.543 196.702H122.871L120.258 190.471H110.843ZM115.637 179.38L111.868 188.192H119.29L115.637 179.38Z" fill="white"/>
                    <path d="M82.6266 173.481L91.0886 192.058L99.7527 173.438L103.161 196.702H100.634L98.583 181.399L91.0886 197.596L83.753 181.399L81.5725 196.702H78.9877L82.6266 173.481Z" fill="white"/>
                    <path d="M75.7242 185.712C75.6862 188.747 74.4524 191.645 72.2901 193.777C70.1277 195.91 67.2111 197.106 64.1721 197.106C62.5627 197.078 60.9761 196.721 59.5105 196.056C58.045 195.391 56.7318 194.433 55.6524 193.24C53.7637 191.139 52.7331 188.406 52.7644 185.582C52.7816 182.544 54.0061 179.638 56.1685 177.503C58.3309 175.368 61.254 174.178 64.2948 174.195C67.3357 174.212 70.2451 175.435 72.3831 177.595C74.5211 179.755 75.7126 182.674 75.6953 185.712H75.7242ZM55.2769 185.582C55.2443 186.834 55.4769 188.078 55.9597 189.234C56.4425 190.39 57.1645 191.431 58.0783 192.288C59.5873 193.733 61.5483 194.614 63.6315 194.785C65.7146 194.955 67.7929 194.403 69.5169 193.223C71.2408 192.043 72.5052 190.305 73.0975 188.303C73.6898 186.301 73.5738 184.156 72.769 182.23C71.9642 180.303 70.5197 178.712 68.6785 177.724C66.8373 176.736 64.7116 176.411 62.6589 176.805C60.6062 177.198 58.7518 178.285 57.4074 179.884C56.063 181.482 55.3107 183.494 55.2769 185.582Z" fill="white"/>
                    <path d="M47.1038 196.702H44.6346V176.971H39.3062V174.692H52.4611V176.971H47.1038V196.702Z" fill="white"/>
                    <path d="M23.292 188.192C23.1266 189.641 23.377 191.107 24.014 192.418C24.5511 193.143 25.2509 193.732 26.0572 194.138C26.8634 194.544 27.7537 194.755 28.6565 194.755C29.5593 194.755 30.4496 194.544 31.2558 194.138C32.0621 193.732 32.7619 193.143 33.299 192.418C33.936 191.107 34.1864 189.641 34.021 188.192V174.692H36.5047V188.856C36.6687 190.709 36.1557 192.558 35.0607 194.063C34.2905 195.014 33.317 195.782 32.2114 196.309C31.1058 196.836 29.8961 197.11 28.6709 197.11C27.4458 197.11 26.2361 196.836 25.1305 196.309C24.0249 195.782 23.0514 195.014 22.2812 194.063C21.1826 192.56 20.6693 190.709 20.8372 188.856V174.692H23.3209L23.292 188.192Z" fill="white"/>
                    <path d="M4.9963 190.385L2.51259 196.255H0L9.53051 174.62L18.8589 196.255H16.3174L13.8626 190.385H4.9963ZM9.50163 179.957L5.96379 188.221H12.9962L9.50163 179.957Z" fill="white"/>
                </g>
                <path d="M223.519 124.168L199.274 86.8269H183.231V124.168H152.199V37.1538H183.231V55.9038H220.617V30.9952H152.199V0H236.241C239.317 0 242.667 1.80288 246.263 5.39423C249.858 8.98558 251.649 12.3173 251.649 15.4038V71.4231C251.609 73.4214 251.163 75.3907 250.336 77.2109C249.509 79.031 248.32 80.6638 246.84 82.0096C245.495 83.4906 243.861 84.6817 242.038 85.5101C240.216 86.3384 238.243 86.7865 236.241 86.8269L260.327 124.168H223.519Z" fill="white"/>
                <path d="M303.503 124.168V30.9952H272.471V0H334.564V124.168H303.503ZM363.445 30.9952H340.701V0H384.253L363.445 30.9952Z" fill="white"/>
                <path d="M53.7608 54.101H43.5082L53.7752 69.2452H67.8255V89.9711L74.3236 99.5625V65.6394H59.5368L53.7608 54.101Z" fill="#3566AF"/>
                <path d="M114.034 0.504791V28.8606L119.81 33.1875V89.4375H114.034V36.0721L108.258 31.7452V0.504791H95.6661L102.482 7.99037V45.4038L109.702 52.6154V98.0481L122.51 98.0769L122.019 32.5529V0.519214L114.034 0.504791Z" fill="#3566AF"/>
                <path d="M66.3814 87.8509V70.6875H54.7571L66.3814 87.8509Z" fill="#3566AF"/>
                <path d="M102.482 105.245V55.6009L95.2618 48.3894V10.7884L85.9045 0.50478L43.8981 0.490356L55.8546 11.5673L85.1537 13.0384V34.6298H92.3737V49.4711L98.1498 55.2404V112.889L112.547 123.937L122.698 124.053L122.554 105.288L102.482 105.245Z" fill="#3566AF"/>
                <path d="M17.3427 15.5048L19.7542 19.0529V5.78363H17.3427V15.5048Z" fill="#3566AF"/>
                <path d="M96.7491 113.596V55.9038L90.9731 50.1346V36.0577H83.753V14.4231L55.2481 12.9808L55.0604 12.8077L41.7754 0.475952H7.22009L14.4402 11.2356V2.88461H22.6278V23.3077L28.5771 32.1058L29.0392 12.1586H45.14V28.024H54.1651V14.7981H66.3237V45.4471H51.638V42.5625H63.4357V17.6827H57.0531V30.9086H42.2519V15.0433H31.8695L31.3929 36.2163L39.595 48.3317H57.3419L63.118 59.8702H80.0996V108.087L84.4317 114.476V65.6394H93.0958V68.524H87.3197V118.745L90.6843 123.707L110.15 123.923L96.7491 113.596ZM88.7637 56.25H70.7568V38.9423H81.587V43.2692H75.0889V51.9231H88.807L88.7637 56.25Z" fill="#3566AF"/>
                <defs>
                    <filter id="filter0_d" x="-4" y="173.438" width="201.518" height="32.2596" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                </defs>
            </svg>

            <div class="text-white p-4 max-w-lg mx-auto mt-12 md:mt-24 lg:mt-0 lg:absolute lg:bottom-0 lg:mb-16 lg:ml-16 ">
                <div class="text-5xl font-bold mb-6 tracking-widest">Hi, I'm Riley</div>
                <div class="text-lg">A full stack developer with 7+ years of experience. I love creating software systems to automate everyday workflow tasks. </div>
                <div class="text-right">
                    <a href="/about" class="text-lg tracking-widest uppercase hover:underline">Read More <span class="text-blue-500" >➤</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>