<html>
<%- include('sections/head', { title: 'Projects' }); -%>
<body class="bg-brand">
    <img src="assets/image/background-3.jpg" class="object-cover h-screen w-screen absolute top-0 left-0 -z-100">
    <div class="h-full w-full flex-col md:flex-row flex overflow-scroll">
        <%- include('sections/navigation'); -%>
        <div class="flex-1 overflow-scroll">
            <div class="flex-1 overflow-scroll">
                <div class="w-full md:w-3/4 mt-4 md:mt-8 mx-auto p-2 relative">
                    <div class="w-full bg-offGray-400 rounded-lg shadow-lg border border-offGray-100 text-white p-4 tracking-wider">
                        <div class="text-2xl font-bold mx-auto">Coming Soon.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>