<html>
<%- include('../sections/head', { title: 'Game Price Tracking System' }); -%>
<body class="bg-brand">
<img src="/assets/image/background-3.jpg" class="object-cover h-screen w-screen absolute top-0 left-0 -z-100">
<div class="h-full w-full flex-col md:flex-row flex">
    <%- include('../sections/navigation'); -%>
    <div class="flex-1 overflow-auto">
        <div class="w-full md:w-3/4 mt-4 md:mt-8 mx-auto p-2 relative">
            <div class="w-full bg-offGray-400 rounded-lg shadow-lg border border-offGray-100 text-white p-4 tracking-wider md:text-xl">
                <div class="mb-2">
                    <h2 class="text-4xl md:text-6xl font-bold tracking-wider border-brand border-b-2 ml-8 inline-block">Game Price Tracking System</h2>
                </div>
                <p class="mb-2 ml-4 lg:w-2/3">

                </p>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Technologies</h2>
                    <br>

                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Purpose and Goal</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">

                    </p>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Stack Explanation</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">

                    </p>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Problems and thought process</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">

                    </p>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Lessons Learned</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

