<html>
<%- include('../sections/head', { title: 'Gurpay' }); -%>
<body class="bg-brand">
<img src="/assets/image/background-3.jpg" class="object-cover h-screen w-screen absolute top-0 left-0 -z-100">
<div class="h-full w-full flex-col md:flex-row flex">
    <%- include('../sections/navigation'); -%>
    <div class="flex-1 overflow-auto">
        <div class="w-full md:w-3/4 mt-4 md:mt-8 mx-auto p-2 relative">
            <div class="w-full bg-offGray-400 rounded-lg shadow-lg border border-offGray-100 text-white p-4 tracking-wider md:text-xl">
                <div class="mb-2">
                    <img src="/assets/image/portfolio/gurpay/logo.png" class="inline-block w-28">
                    <h2 class="text-4xl md:text-6xl font-bold tracking-wider border-brand border-b-2 ml-8 inline-block">Gurpay</h2>
                </div>
                <p class="mb-2 ml-4 lg:w-2/3">
                    Gurpay is a mobile application that runs on both iOS and Android. It allows roommates to manage and split a set of bills among them. Because of its cross platform nature, it required work on many different fronts to give a unified app experience.
                </p>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Technologies</h2>
                    <br>
                    <svg width="50" height="52" viewBox="0 0 50 52" xmlns="http://www.w3.org/2000/svg" class="inline-block">
                        <path d="M49.626 11.564a.809.809 0 0 1 .028.209v10.972a.8.8 0 0 1-.402.694l-9.209 5.302V39.25c0 .286-.152.55-.4.694L20.42 51.01c-.044.025-.092.041-.14.058-.018.006-.035.017-.054.022a.805.805 0 0 1-.41 0c-.022-.006-.042-.018-.063-.026-.044-.016-.09-.03-.132-.054L.402 39.944A.801.801 0 0 1 0 39.25V6.334c0-.072.01-.142.028-.21.006-.023.02-.044.028-.067.015-.042.029-.085.051-.124.015-.026.037-.047.055-.071.023-.032.044-.065.071-.093.023-.023.053-.04.079-.06.029-.024.055-.05.088-.069h.001l9.61-5.533a.802.802 0 0 1 .8 0l9.61 5.533h.002c.032.02.059.045.088.068.026.02.055.038.078.06.028.029.048.062.072.094.017.024.04.045.054.071.023.04.036.082.052.124.008.023.022.044.028.068a.809.809 0 0 1 .028.209v20.559l8.008-4.611v-10.51c0-.07.01-.141.028-.208.007-.024.02-.045.028-.068.016-.042.03-.085.052-.124.015-.026.037-.047.054-.071.024-.032.044-.065.072-.093.023-.023.052-.04.078-.06.03-.024.056-.05.088-.069h.001l9.611-5.533a.801.801 0 0 1 .8 0l9.61 5.533c.034.02.06.045.09.068.025.02.054.038.077.06.028.029.048.062.072.094.018.024.04.045.054.071.023.039.036.082.052.124.009.023.022.044.028.068zm-1.574 10.718v-9.124l-3.363 1.936-4.646 2.675v9.124l8.01-4.611zm-9.61 16.505v-9.13l-4.57 2.61-13.05 7.448v9.216l17.62-10.144zM1.602 7.719v31.068L19.22 48.93v-9.214l-9.204-5.209-.003-.002-.004-.002c-.031-.018-.057-.044-.086-.066-.025-.02-.054-.036-.076-.058l-.002-.003c-.026-.025-.044-.056-.066-.084-.02-.027-.044-.05-.06-.078l-.001-.003c-.018-.03-.029-.066-.042-.1-.013-.03-.03-.058-.038-.09v-.001c-.01-.038-.012-.078-.016-.117-.004-.03-.012-.06-.012-.09v-.002-21.481L4.965 9.654 1.602 7.72zm8.81-5.994L2.405 6.334l8.005 4.609 8.006-4.61-8.006-4.608zm4.164 28.764l4.645-2.674V7.719l-3.363 1.936-4.646 2.675v20.096l3.364-1.937zM39.243 7.164l-8.006 4.609 8.006 4.609 8.005-4.61-8.005-4.608zm-.801 10.605l-4.646-2.675-3.363-1.936v9.124l4.645 2.674 3.364 1.937v-9.124zM20.02 38.33l11.743-6.704 5.87-3.35-8-4.606-9.211 5.303-8.395 4.833 7.993 4.524z"
                              fill="#FF2D20" fill-rule="evenodd"/>
                    </svg>
                    <svg width="114" height="29" viewBox="0 0 114 29" xmlns="http://www.w3.org/2000/svg" class="inline-block">
                        <path d="M4.773.917v23.046h8.338v3.976H.333V.917h4.44zm24.01 11.465V9.95h4.208v17.99h-4.207v-2.433c-.567.901-1.37 1.609-2.413 2.123-1.042.515-2.091.772-3.146.772-1.365 0-2.613-.25-3.745-.752a8.758 8.758 0 0 1-2.915-2.066 9.6 9.6 0 0 1-1.89-3.01 9.717 9.717 0 0 1-.677-3.63c0-1.26.225-2.464.676-3.61a9.56 9.56 0 0 1 1.891-3.03 8.766 8.766 0 0 1 2.915-2.065c1.132-.502 2.38-.752 3.745-.752 1.055 0 2.104.257 3.146.772 1.042.515 1.846 1.222 2.413 2.123zm-.386 8.763a6.293 6.293 0 0 0 .387-2.2c0-.773-.13-1.506-.387-2.2a5.58 5.58 0 0 0-1.08-1.815 5.233 5.233 0 0 0-1.68-1.236c-.656-.308-1.383-.463-2.18-.463-.799 0-1.52.155-2.163.463a5.29 5.29 0 0 0-1.66 1.236 5.307 5.307 0 0 0-1.06 1.814 6.56 6.56 0 0 0-.368 2.2c0 .772.122 1.506.367 2.2.244.696.598 1.3 1.062 1.815a5.279 5.279 0 0 0 1.66 1.236c.642.309 1.363.463 2.161.463s1.525-.154 2.181-.463a5.222 5.222 0 0 0 1.68-1.236 5.575 5.575 0 0 0 1.08-1.814zm7.914 6.794V9.95h11.427v4.141h-7.22v13.85h-4.207zm26.675-15.557V9.95h4.208v17.99h-4.208v-2.433c-.566.901-1.37 1.609-2.413 2.123-1.042.515-2.09.772-3.146.772-1.364 0-2.612-.25-3.744-.752a8.758 8.758 0 0 1-2.915-2.066 9.6 9.6 0 0 1-1.891-3.01 9.717 9.717 0 0 1-.676-3.63c0-1.26.225-2.464.676-3.61a9.56 9.56 0 0 1 1.89-3.03 8.766 8.766 0 0 1 2.916-2.065c1.132-.502 2.38-.752 3.744-.752 1.055 0 2.104.257 3.146.772 1.043.515 1.847 1.222 2.413 2.123zm-.386 8.763a6.293 6.293 0 0 0 .386-2.2c0-.773-.13-1.506-.386-2.2a5.58 5.58 0 0 0-1.08-1.815 5.233 5.233 0 0 0-1.68-1.236c-.656-.308-1.384-.463-2.181-.463-.798 0-1.519.155-2.162.463a5.29 5.29 0 0 0-1.66 1.236 5.307 5.307 0 0 0-1.061 1.814 6.56 6.56 0 0 0-.367 2.2c0 .772.121 1.506.367 2.2.244.696.598 1.3 1.061 1.815a5.279 5.279 0 0 0 1.66 1.236c.643.309 1.364.463 2.162.463.797 0 1.525-.154 2.181-.463a5.222 5.222 0 0 0 1.68-1.236 5.575 5.575 0 0 0 1.08-1.814zM84.063 9.95h4.262L81.42 27.94H76.13L69.224 9.95h4.262l5.289 13.776L84.063 9.95zm13.44-.463c5.729 0 9.636 5.078 8.902 11.021H92.446c0 1.552 1.567 4.552 5.288 4.552 3.2 0 5.345-2.815 5.346-2.817l2.843 2.2c-2.542 2.713-4.623 3.96-7.882 3.96-5.823 0-9.77-3.684-9.77-9.458 0-5.223 4.079-9.458 9.231-9.458zm-5.046 7.894h10.084c-.031-.346-.578-4.552-5.072-4.552-4.495 0-4.98 4.206-5.012 4.552zm16.688 10.558V.917h4.208v27.022h-4.208z"
                              fill="#FF2D20" fill-rule="evenodd"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 160 50" class="inline-block ml-8">
                        <path fill="#f05138"
                              d="m49.489 13.7084c-.003-.4977-.0085-.9952-.0222-1.4936c-.029-1.084-.0931-2.1778-.2858-3.2502c-.1955-1.0891-.515-2.1018-1.0187-3.0911a10.3867 10.3867 0 00-1.9118-2.6317a10.3843 10.3843 0 00-2.6319-1.9118c-.9885-.503-2.0013-.8227-3.0894-1.018c-1.073-.1933-2.1668-.257-3.2517-.2863a71.4281 71.4281 0 00-1.4935-.0224c-.591-.0033-1.1825-.0033-1.7733-.0033h-18.5289c-.5914 0-1.1822 0-1.773.0034a71.4451 71.4451 0 00-1.4936.0223a38.379 38.379 0 00-.8148.0299c-.8157.0393-1.6326.1114-2.437.2563c-.816.1467-1.5899.363-2.3427.6743a10.3792 10.3792 0 00-3.3787 2.2556a10.3832 10.3832 0 00-1.9119 2.6316c-.5037.9893-.8228 2.002-1.0185 3.0911c-.1925 1.0724-.2565 2.1662-.2856 3.2502a71.6007 71.6007 0 00-.0226 1.4936c-.0039.5912-.0034 1.1825-.0034 1.7735v18.5285c0 .5916-.0006 1.1823.0033 1.7738a71.42 71.42 0 00.0226 1.4928c.0292 1.0846.0931 2.1787.2857 3.2506c.1957 1.0887.5148 2.1023 1.0185 3.0914a10.3712 10.3712 0 001.912 2.6313a10.381 10.381 0 002.632 1.9125c.9885.5032 2.0013.8223 3.0896 1.0178c1.0723.193 2.167.2572 3.2516.2862a71.312 71.312 0 001.4936.022c.5908.0041 1.1815.0036 1.773.0036h18.5288c.5908 0 1.1822.0006 1.7732-.0037a71.542 71.542 0 001.4935-.022c1.0849-.029 2.1787-.0932 3.2517-.2861c1.0881-.1955 2.101-.5147 3.0894-1.0178a10.3845 10.3845 0 002.632-1.9125a10.3741 10.3741 0 001.9117-2.6313c.5037-.989.8232-2.0026 1.0187-3.0914c.1927-1.072.2568-2.166.2858-3.2506c.0137-.4975.0192-.995.0222-1.4928c.0038-.5915.0035-1.1822.0035-1.7738v-18.5285c0-.591.0003-1.1823-.0034-1.7734z"/>
                        <path fill="#fff"
                              d="m39.2172 30.5506l-.0035-.004c.0547-.1864.1112-.3715.1592-.5625c2.0541-8.1841-2.9593-17.86-11.443-22.9545c3.7177 5.0399 5.3615 11.1444 3.901 16.4829c-.1302.4762-.2868.9332-.4599 1.3773c-.1878-.1234-.4245-.2635-.7423-.4387c0 0-8.439-5.2106-17.5857-14.4268c-.24-.242 4.8774 7.3141 10.685 13.4499c-2.7362-1.5356-10.3616-7.0837-15.1889-11.502c.5931.9891 1.2985 1.9415 2.074 2.8585c4.0312 5.1124 9.2884 11.4203 15.5868 16.264c-4.4253 2.7082-10.6784 2.9188-16.9043.0029c-1.5399-.7217-2.9876-1.5925-4.3277-2.5818c2.6355 4.2154 6.6944 7.8524 11.6345 9.9757c5.8912 2.5317 11.7496 2.36 16.113.0415l-.0034.005c.0199-.0126.0452-.0264.0659-.0391c.1792-.0963.357-.1944.5309-.298c2.0964-1.0882 6.2373-2.1922 8.4598 2.1323c.5444 1.0584 1.701-4.5503-2.5514-9.7826z"/>
                        <path fill="#fff" d="m68.2755 32.1186c.3867 3.4336 3.6615 5.6847 8.2095 5.6847c4.3212 0 7.4366-2.2511 7.4366-5.366c0-2.6836-1.8873-4.3217-6.2313-5.4128l-4.207-1.0687c-6.0492-1.5011-8.7784-4.2304-8.7784-8.7327c0-5.5488 4.844-9.3924 11.735-9.3924c6.6855 0 11.4385 3.866 11.5979 9.438h-4.4344c-.3415-3.4112-3.1159-5.504-7.2772-5.504c-4.1167 0-6.982 2.1151-6.982 5.2077c0 2.4105 1.7742 3.8437 6.1406 4.9581l3.502.9094c6.777 1.6605 9.5513 4.2984 9.5513 9.0514c0 6.0492-4.7987 9.8472-12.4398 9.8472c-7.0951 0-11.939-3.7757-12.3029-9.6197h4.4801zm48.4319 9.0737h-4.4577l-5.2078-18.1475h-.0908l-5.1849 18.1475h-4.4572l-6.595-23.7652h4.3206l4.5937 19.0802h.0913l5.185-19.0802h4.1841l5.2306 19.0802h.0913l4.5938-19.0802h4.275zm9.4502-30.1555c0-1.432 1.183-2.5921 2.6156-2.5921c1.4555 0 2.638 1.16 2.638 2.5921c0 1.4331-1.1825 2.6156-2.638 2.6156c-1.4327 0-2.6156-1.1824-2.6156-2.6156zm.4552 6.3903h4.3435v23.7652h-4.3435zm32.7086 3.5026v-3.5027h-4.5938v-5.6848h-4.3212v5.6848h-8.3028v-2.0918c.0223-2.1152.8413-3.0023 2.7973-3.0023c.6363 0 1.2732.069 1.7965.1593v-3.4112c-.7735-.1137-1.4784-.1817-2.2969-.1817c-4.6394 0-6.5951 1.9335-6.5951 6.3679v2.1598h-3.32v3.5027h3.32v20.2626h4.3206v-20.2626h8.2806v14.0317c0 4.5938 1.7513 6.3668 6.2993 6.3668c.9779 0 2.0923-.068 2.5927-.1816v-3.5473c-.2958.0457-1.1601.1137-1.6376.1137c-2.0238 0-2.9332-.955-2.9332-3.0926v-13.6907z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 265 50" class="inline-block ml-8">
                        <path d="M246.5505 12.1788l5.8423-10.1205c.3297-.5674.1303-1.288-.4294-1.6177-.5597-.3297-1.288-.138-1.61.4293l-5.919 10.2508c-4.5159-2.0624-9.599-3.2125-15.0657-3.2125-5.4666 0-10.5498 1.1501-15.0657 3.2125L208.384.87a1.1803 1.1803 0 00-1.6177-.4293 1.1802 1.1802 0 00-.4293 1.6177l5.8422 10.1205c-10.0744 5.4589-16.898 15.656-18.0251 27.5936h70.4292c-1.127-11.9376-7.9507-22.1347-18.0328-27.5936zM213.199 29.8819c-1.633 0-2.9518-1.3264-2.9518-2.9518 0-1.633 1.3264-2.9518 2.9518-2.9518 1.633 0 2.9518 1.3264 2.9518 2.9518.008 1.6254-1.3187 2.9518-2.9518 2.9518zm32.3318 0c-1.633 0-2.9518-1.3264-2.9518-2.9518 0-1.633 1.3264-2.9518 2.9518-2.9518 1.6331 0 2.9518 1.3264 2.9518 2.9518.008 1.6254-1.3187 2.9518-2.9518 2.9518z"
                              fill="#32de84"/>
                        <g transform="translate(283.9893 -349.6734) scale(.9073)">
                            <path fill="#fff" d="M-299.0361 399.581c-6.8857 0-13.966 5.5177-13.966 15.1757 0 8.8292 6.2253 15.0656 13.966 15.0656 6.3896 0 9.2373-4.2888 9.2373-4.2888v1.8695c0 .8836.8354 1.8694 1.8695 1.8694h4.6186V400.241h-6.4881v3.684s-2.8716-4.3438-9.2373-4.3438zm1.1557 5.9364c5.6684 0 8.6417 4.9851 8.6417 9.2371 0 4.736-3.5303 9.2339-8.6297 9.234-4.2627 0-8.5328-3.4525-8.5328-9.2965 0-5.2753 3.6747-9.1746 8.5208-9.1746zm23.5871 23.7551c-.9968 0-1.8695-.715-1.8695-1.8695v-27.162h6.4882v3.5926c1.4702-2.2099 4.3425-4.2613 8.7513-4.2613 7.2059 0 11.043 5.7442 11.043 11.1157v18.5846h-4.5088c-1.1822 0-1.9794-.9897-1.9794-1.9794v-15.1756c0-2.9774-1.8242-6.5934-6.0431-6.5934-4.5524 0-7.263 4.3023-7.263 8.3528v15.3956zm43.3274-29.6915c-6.8856 0-13.9659 5.5177-13.9659 15.1757 0 8.8292 6.2252 15.0656 13.966 15.0656 6.3895 0 9.2373-4.2888 9.2373-4.2888v1.8695c0 .8836.8354 1.8694 1.8694 1.8694h4.6187v-43.5473h-6.4881v18.1997s-2.8716-4.3437-9.2374-4.3437zm1.1558 5.9364c5.6684 0 8.6417 4.9851 8.6417 9.2371 0 4.736-3.5303 9.2339-8.6297 9.234-4.2628 0-8.5328-3.4525-8.5328-9.2965 0-5.2753 3.6746-9.1746 8.5208-9.1746zm23.5871 23.7551c-.9968 0-1.8695-.715-1.8695-1.8695v-27.162h6.4881v4.8386c1.1168-2.7106 3.5267-5.1685 7.8078-5.1685 1.1934 0 2.3093.22 2.3093.22v6.708s-1.3934-.5499-3.0791-.5499c-4.5523 0-7.038 4.3023-7.038 8.3528v14.6306zm54.1043 0c-.9968 0-1.8695-.715-1.8695-1.8695v-27.162h6.4882v29.0316zm23.6432-29.6915c-6.8857 0-13.966 5.5177-13.966 15.1757 0 8.8292 6.2252 15.0656 13.966 15.0656 6.3895 0 9.2373-4.2888 9.2373-4.2888v1.8695c0 .8836.8354 1.8694 1.8694 1.8694h4.6187v-43.5473h-6.4881v18.1997s-2.8716-4.3437-9.2373-4.3437zm1.1557 5.9364c5.6684 0 8.6417 4.9851 8.6417 9.2371 0 4.736-3.5303 9.2339-8.6297 9.234-4.2628 0-8.5328-3.4525-8.5328-9.2965 0-5.2753 3.6746-9.1746 8.5208-9.1746z"/>
                            <circle fill="#fff" cx="-150.7952" cy="389.6879" r="4.2913"/>
                            <path fill="#fff" d="M-174.3765 399.5714c-7.2111 0-15.1337 5.3828-15.1337 15.1337 0 8.8857 6.7482 15.1183 15.118 15.1183 10.315 0 15.3517-8.2922 15.3517-15.062 0-8.3072-6.4856-15.19-15.336-15.19zm.0236 6.059c4.9867 0 8.7064 4.0191 8.7064 9.093 0 5.1618-3.9486 9.145-8.6916 9.145-4.4028 0-8.6827-3.583-8.6827-9.0582 0-5.5665 4.0706-9.1798 8.6679-9.1798z"/>
                        </g>
                    </svg>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2 mt-2">Purpose and Goal</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">
                        I build Gurpay to meet the needs of my friends in college. My goal was to simplify their current solution of using a whiteboard to track everything and do all of the math. With the addition of the app, they gained many quality of life features that would not have been possible otherwise
                    </p>
                </div>
                <div class="w-full sm:w-2/3 md:w-1/2 mx-auto p-4">
                    <div class="carousel">
                        <img src="/assets/image/portfolio/gurpay/screenshot_1.png">
                        <img src="/assets/image/portfolio/gurpay/screenshot_2.png">
                        <img src="/assets/image/portfolio/gurpay/screenshot_3.png">
                    </div>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Stack Explanation</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">
                        From the start, I knew that I would need to build an API. This would allow both apps to share the same business logic, and each app would only have to worry about displaying the infomation returend from it.
                        I chose to create native apps for each platform because I have had terrible experiences working with cross platform libraries in the past, and because I already had most of the knowledge required to build each of the native apps.
                    </p>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Problems and thought process</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">
                        One of the biggest obstacles I encountered on this project was setting up push notifications for both platforms. Going in to the project, I had no knowledge of how they worked or what was required, but after lots of research and trial and error I managed to get them working, so that users could notify each other and recieve notifications when their bills were due.
                    </p>
                </div>
                <div class="ml-4">
                    <h2 class="text-2xl md:text-4xl font-bold tracking-wider border-brand border-b-2 inline-block mb-2">Lessons Learned</h2>
                    <p class="mb-2 ml-4 lg:w-2/3">
                        The biggest lesson that I learned in this project is the importance of planning. Since this project has 3 seperate code bases, any change to the API would need to be updated in both apps. Thinking ahead to what will be required was essential to keeping both apps on schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/slick.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.carousel').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            dots: false
      });
    });
</script>
</body>
</html>

